[run]
branch = True
source = nseta

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    except
    if __name__ == .__main__.:
    if background:
    if __VERBOSE__:
    print
    sigint_handler
ignore_errors = True
omit =
    tests/*
    nseta/scanner/stocks.txt
