[run]
branch = True
source = nseta

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    except
    sigint_handler
ignore_errors = True
omit =
    tests/*
    nseta/scanner/stocks.py
