[run]
branch = True
source = nseta

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    except
    pass
    if __name__ == .__main__.:
    if background:
    print
    default_logger
    if clear
    while RUN_IN_BACKGROUND:
    RUN_IN_BACKGROUND
    sigint_handler
ignore_errors = True
omit =
    tests/*
