language: shell
cache:
	directories:
	- "~/Library/Caches/pip"
	- "~/Library/Caches/Homebrew"
os: osx
env:
	global:
		secure: KV15IbbpAVZKfKocByinC9lmyQ2eZHi1IplS4V/UKe5mv4ubAnifB1vprofxA8ESj2hitMXwpuENcsRLhZNNCTKd2U78a8Se0zd05YngsvP+oYbtor8M3psmFiZuZ6opl+1WWDuvYQSYBebkfPHyyw54kPb+5LIHtI8FdAYY6X0jroYaBNCPc1IBP2DLKf2uzHuQTE90PXwwVU0HRs8j5kFuqvVZ9X4p+rUHhvU4tF/CTs05PJfRWx5LM2hyQrXPEVl3AFGHtk5lu7fdRHiLTIpLy3CA+fWW09fXgFCjuYu1oBlrvf9A9oc+VmboL+slOD6V/Yiv/UblQteppEz/WQfR/bhsfSMRusWWr1CtL+lX46ClcGLXXB9/OBjm2aJItYCDv/kKJMCKHjKpdTZ1u4kHnJkFAHWHgY+jt/ENm+3Hi3lsLcMyfeoNNotRBTLi1+zYZLTEnc9ZI2dDw254klyQVh2dB3xtXuPsS+9eifYRg1nZIpUSaCIjKMZ9hL/MSQB8vNFsjOeONm8EdqELEXGP+kgOWwB5OxKpfhS4Hkh6USRObiQPs5vLFwC9GJOON3z3Xi6P2B55RIt58ivo5bEjyFe2lA19al/R9t/YodaadH+A3MGrmXdzdurE6dQcOFeTUnyI3mv0V8IPLRZ+tZU3bO6W/DQKuGx7+G7Kr38=
before_install:
- git config --global http.postBuffer 524288000
- which brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
- brew install ta-lib
- pip3 install fastquant git+git://github.com/enzoampil/fastquant.git@5f17e7087e1efb534e2db88775dba268d31de4be
- pip3 install fbprophet>=0.7.1
- pip3 install -r requirements.txt
- pip3 install ta-lib>=0.4.19
- pip3 install timeout-decorator
- pip3 install sanic==19.12.2
- pip3 install multidict==4.6
install:
- python3 setup.py clean build install sdist bdist_wheel
- pip3 install codecov
- pip3 install coverage
script:
- coverage run -m unittest discover -s tests -p 'test_*.py'
- coverage report -m
- coverage html
- coverage xml
- nseta --help
after_success:
- bash <(curl -s https://codecov.io/bash)
- bash <(curl -Ls https://coverage.codacy.com/get.sh) report -l Python -r coverage.xml
