language: shell
cache:
  directories:
    - ~/Library/Caches/pip
    - ~/Library/Caches/Homebrew
os: osx
before_install:
  - git config --global http.postBuffer 524288000
  - which brew || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
  - brew install ta-lib
  - pip3 install fastquant
  - pip3 install -r requirements.txt
  - pip3 install convertdate==2.2.0
install:
  - python3 setup.py clean build install sdist bdist_wheel
script:
  - nseta --help
  - nseta --version
