beautifulsoup4>=4.8.2
bs4>=0.0.1
cachecontrol>=0.12.6
Click>=7.0
convertdate>=2.3.0
Cython>=0.22
DateTime>=4.4
lxml>=4.6.2
matplotlib>=3.2.2
numpy>=1.20.3
pandas>=1.1.2
plotly>=4.14.3
python-dateutil>=2.8.0
pytz>=2019.3
requests>=2.22.0
six>=1.13.0
termcolor>=1.1.0
urllib3>=1.25.7

setuptools>=50.3.0
wheel>=0.35.1
