backtrader>=1.9.75.123
beautifulsoup4>=4.8.2
black>=19.10b0
bs4>=0.0.1
cachecontrol>=0.12.6
ccxt>=1.51.84
certifi>=2019.11.28
chardet>=3.0.4
Click>=7.0
cmdstanpy>=0.9.5
convertdate>=2.3.0
croniter>=0.3.35
Cython>=0.22
# fastquant # Install separately using pip from git+git://github.com/enzoampil/fastquant.git@5f17e7087e1efb534e2db88775dba268d31de4be
# fastquant==0.1.4.0
# fbprophet>=0.7.1 # Install separately using pip
idna>=2.8
LunarCalendar>=0.0.9
lxml>=4.6.2
matplotlib>=3.2.2
networkx>=2.4
numpy>=1.18.0
oauthlib>=3.1.0
pandas>=1.1.2
plotly>=4.14.3
pybind11>=2.6.2
PySocks>=1.7.1
pystan==2.19.1.1
python-dateutil>=2.8.0
pytz>=2019.3
requests>=2.22.0
requests-oauthlib>=1.3.0
setuptools>=50.3.0
setuptools-git>=1.2
six>=1.13.0
soupsieve>=1.9.5
Sphinx>=3.2.1
ta-lib>=0.4.19 # Install this separately via pip
tqdm>=4.36.1
tweepy>=3.8.0
urllib3>=1.25.7
yfinance>=0.1.54
nltk>=3.5
# flammkuchen
pre-commit
scipy>=1.5.2
wheel>=0.35.1
